<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Clientes</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients| async">
          <td>{{client.name}}</td>
          <td>{{client.surname1}}</td>
          <td>{{client.surname2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
